{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block title %} Home {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1> Yield Curve by Nelson Siegel Model </h1>
            <hr>
            <p> Choose your parameters and see the Correspondant Yield Curve</p>
        </div>
    </div>
    <form action="/" method="POST">

        <div class="form-group">
            <label> Financial instrument </label>
            <select name= "RFR_value" class="form-select" aria-label="Default select example">
                <option selected>Choose the financial instrument</option>
                <option value="govies">Govies</option>
                <option value="swap">Swap</option>
            </select>
        </div>

        <div class="form-group">
            <label> Currency </label>
            <select name= "currency" class="form-select" aria-label="Default select example">
                <option selected>Choose the Currency</option>
                <option value="usd">Dollar ($)</option>
                <option value="eur">Euro (€)</option>
                <option value="jpy">Yen (¥)</option>
            </select>
        </div>

        <div class="form-group">
            <label> Date </label>
            <input class= "form-control" type="date" name="obs_date" placeholder="select the date" >
        </div>

        <hr>

        <input type="submit" class="btn btn-primary" name="Generate Curve"/>
    </form>

    <form action="/csv" method="POST" enctype=multipart/form-data>

        <label for="file">Choose a CSV file :</label>

        <input type="file"
            id="file" name="file"
            accept=".csv">

        <div class="form-group">
            <label> Date </label>
            <input class= "form-control" type="date" name="obs_date" placeholder="select the date" >
        </div>

        <input type="submit" class="btn btn-primary" name="Generate Curve"/>
    </form>


    <div class="wrapper">
        <canvas id="yieldCurve" width="1600" height="400" margin="50"></canvas>
        <script>

            const ctx = document.getElementById('yieldCurve');
            const labels = [{% for item in labels %}
                 '{{ item }}',
                 {% endfor %}];
            const data = {
              labels: labels,
              datasets: [{
                label: 'Yield Curve',
                data: [{% for item in values %}
                 '{{ item }}',
                 {% endfor %}],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
              }]
            };
            const config = {
              type: 'line',
              data: data,
            };
            const myChart = new Chart(ctx, config);
        </script>
    </div>

</div>

{% endblock %}