
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<!-- partial -->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}

{% block title %} Login {% endblock %}

{% block main %}
    <!-- partial:index.partial.html -->
    <div style='margin: 70px;' class="logo text-center">
    <h4>N.S. Python Yield Curve</h4>
    </div>
    <hr>
    <div class="wrapper">
    <div class="inner-warpper text-center">
        <h5 style='margin-bottom: 20px;' class="title">Login to HANA Database</h5>
        <form action="/" id="formvalidate" method="POST">
            <div class="input-group">
                <label class="palceholder" for="userName">User Name</label>
                <input class="form-control" name="userName" id="userName" type="text" placeholder="" />
                <span class="lighting"></span>
            </div>
            <div class="input-group">
                <label class="palceholder" for="userPassword">Password</label>
                <input class="form-control" name="userPassword" id="userPassword" type="password" placeholder="" />
                <span class="lighting"></span>
            </div>

            <button type="submit" id="login">Login</button>
            <div class="clearfix supporter">
                <div class="pull-left remember-me">
                <input id="rememberMe" type="checkbox">
                <label for="rememberMe">Remember Me</label>
                </div>
                <a class="forgot pull-right" 
                    href="https://accounts.sap.com/ui/createForgottenPasswordMail?spId=54be178fe4b000f2275ba88a&targetUrl=https%3A%2F%2Faccount.eu2.hana.ondemand.com%2F%3FRelayState%3Doucrsbpgxygajtggyjlvbtoia&sourceUrl="
                    >
                    Forgot Password?
                </a>
            </div>
        </form>
    </div>
    <div class="signup-wrapper text-center">
        <a href="#">Don't have an accout? <span class="text-primary">Create One</span></a>
    </div>
    </div>

{% endblock %}
